.main-container {
}

.banner-box {
    position: relative;
    width: 100%;
    height: 768px;
    background: url(../../assets/imgs/index/banner.png) no-repeat 0 0 / 100% 100%;

    .banner_topText {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 30px;
    }

    .banner_title {
        position: relative;
        top: 56px;
        left: 0;
        width: 100%;
        height: 100px;
    }

    .anime-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 552px;

        .star-box {
            position: absolute;
            top: 0;
            left: 0;
        }

        .star {
            position: absolute;
            width: 38px;
            height: 38px;

            opacity: 0;
        }

        .star-box :nth-child(1) {
            top: 246px;
            left: 22px;
        }

        .star-box :nth-child(2) {
            top: 204px;
            left: 86px;
        }

        .star-box :nth-child(3) {
            top: 218px;
            left: 134px;
        }

        .star-box :nth-child(4) {
            top: 208px;
            left: 192px;
        }

        .star-box :nth-child(5) {
            top: 238px;
            left: 224px;
        }

        .star-box :nth-child(6) {
            top: 202px;
            left: 292px;
        }

        .star-box :nth-child(7) {
            top: 154px;
            left: 286px;
        }

        .star-box :nth-child(8) {
            top: 140px;
            left: 205px;
        }

        .star-text {
            position: absolute;
            top: 0;
            left: 0;
        }

        .text {
            position: absolute;
            width: 40px;
            opacity: 0;
        }

        .star-text :nth-child(1) {
            // top: 280px;
            // left: 21px;
            top: 300px;
            left: 51px;
            transform: scale(1.3);
        }

        .star-text :nth-child(2) {
            // top: 198px;
            // left: 55px;
            top: 178px;
            left: 35px;
            transform: scale(1.3);
        }

        .star-text :nth-child(3) {
            // top: 248px;
            // left: 130px;
            top: 268px;
            left: 160px;
            transform: scale(1.3);
        }

        .star-text :nth-child(4) {
            // top: 190px;
            // left: 187px;
            top: 170px;
            left: 157px;
            transform: scale(1.3);
        }

        .star-text :nth-child(5) {
            // top: 264px;
            // left: 224px;
            top: 284px;
            left: 254px;
            transform: scale(1.3);
        }

        .star-text :nth-child(6) {
            // top: 221px;
            // left: 321px;
            top: 241px;
            left: 321px;
            transform: scale(1.2);
        }

        .star-text :nth-child(7) {
            // top: 157px;
            // left: 251px;
            top: 137px;
            left: 231px;
            transform: scale(1.3);
        }

        .star-text :nth-child(8) {
            // top: 145px;
            // left: 170px;
            top: 145px;
            left: 150px;
            transform: scale(1.3);
        }

        .star-line {
            position: absolute;
            top: 0;
            left: 0;
        }

        .line {
            opacity: 0;
        }
    }

    .start-btn {
        position: absolute;
        top: 552px;
        width: 100%;
        height: 67px;
        background: url("../../assets/imgs/index/index-btn.png") no-repeat left top / 100% 100%;

        animation: indexBtnAnimation 2s linear infinite;
    }

    @keyframes indexBtnAnimation {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.8);
        }

        100% {
            transform: scale(1);
        }
    }
}

.introduce-box {
    margin-top: -36px;
    position: relative;
    z-index: 3;
    .introduce_img {
        display: block;
        width: 100%;
        margin-bottom: 34px;
    }

    .introduce_img1 {
        height: 444px;
    }

    .introduce_img2 {
        height: 408px;
    }

    .introduce_img3 {
        height: 534px;
    }

    .introduce_img4 {
        height: 1484px;
    }

    .introduce_img5 {
        height: 490px;
    }
}
